body, html{
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.bg, .bg2{
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg{
    -webkit-clip-path: polygon(100% 20%, 99% 100%, 0% 100%, 65% 71%);
    clip-path: polygon(100% 20%, 99% 100%, 0% 100%, 65% 71%);
    z-index: -2;
    background-color: #226dbc
}

.bg2{
    -webkit-clip-path: polygon(100% 20%, 99% 100%, 0% 100%, 75% 73%);
    clip-path: polygon(100% 20%, 99% 100%, 0% 100%, 75% 73%);
    z-index: -1;
    background-color: #2a5f98
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
}

.container #right{
    position: relative;
    top: 100px;
}

ul{
    list-style-type: none;
    perspective: 1000px;
}

ul li {
    display: grid;
    grid-template-columns: 20% auto;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(15deg);
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    mix-blend-mode: multiply;
}
ul li:nth-child(1){
    background: #bfe8fc;
    top: -105px;
    z-index: 2;
}

ul li:nth-child(2){
    background: #bcbd82;
    z-index: 1;
}

ul li:nth-child(3){
    background: #d8f8b4;
    top: 105px;
}

ul li:hover {
    transform: rotateY(-22deg) rotateX(7deg) scale(1.03);
    transition: transform .3s ease-out;
    z-index: 3;
    mix-blend-mode: normal;
}


img{
    width: 60px;
    float: right;
}

h1{
    font-size: 3em;
    margin-top: 0;
}

#left > p {
    color: gray;
    line-height: 1.5em;

}

#AppCoinsbg{
    background: #bfe8fc;
}
#Ethosbg {
    background: #bcbd82;
}
#Iotabg {
    background: #d8f8b4
}

@media(max-width:768px) {
    ul{
        list-style-type: none;
        perspective: 1000px;
    }
    
    ul li {
        display: grid;
        grid-template-columns: 20% auto;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
        transform: rotateY(0deg) rotateX(0deg);
        position: relative;
        border-bottom: 4px solid rgba(0,0,0,.2);
        mix-blend-mode: multiply;
    }
    ul li:nth-child(1){
        background: #bfe8fc;
        top: -250px;
        width: 300px;
    }
    
    ul li:nth-child(2){
        background: #bcbd82;
        top: -200px;
        width: 300px;

    }
    
    ul li:nth-child(3){
        background: #d8f8b4;
        top: -150px;
        width: 300px;
    }

    .container #left{
        display:none;
    }

    .container{
        position: absolute;
        top:230px;
    }

    span{
        text-align: right;
    }

    span img {
        position: absolute;
    }
}   